<%
   # Defining breadcrumbs
   @breadcrumbs = [
           {:link => admin_menus_path, :title => t('backend_part.menus')},
           {:title => @menu_model.name, :link => '#'},
           {:title => t('backend_part.manage')}
   ]

   # Defining menu
   @menu = [
           {:link => admin_menus_path, :title => t('backend_part.manage_menus'), :icon => 'list'},
           {:link => new_admin_menu_path, :title => t('backend_part.create_menu'), :icon => 'file'},
           {:link => admin_menu_items_path(:menu_id => @menu_model.id), :icon => 'th-list', :title => t('backend_part.menu_items')}
   ]
%>

<div class="page-header">
  <h1><%= t('backend_part.menu') %>
    <small>&nbsp;<%= @menu_model.name %></small>
  </h1>
</div>

<div class="form">
    <%= render 'form' %>
</div>