<%
   # Defining breadcrumbs
   @breadcrumbs = [
           {:link => admin_pages_path, :title => t('backend_part.pages')},
           {:title => @page.title, :link => '#'},
           {:title => t('backend_part.manage')}
   ]

   # Defining menu
   @menu = [
           {:link => admin_pages_path, :title => t('backend_part.manage_pages'), :icon => 'list'},
           {:link => new_admin_page_path, :title => t('backend_part.create_page'), :icon => 'file'},
   ]
%>

<div class="page-header">
  <h1><%= t('backend_part.page') %>
    <small>&nbsp;<%= @page.title %></small>
  </h1>
</div>

<div class="form">
    <%= render 'form' %>
</div>