/*
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require nprogress
 *= require nprogress-bootstrap
 *= require font-awesome
*/
@import "bootstrap-sprockets";
@import "bootstrap-theme";
@import "bootstrap";

.breadcrumbs {
    margin-right: 10px;
    margin-left: 10px;
}

.page-header {
    margin-top: 0px;
}

.page-header h1 {
    margin-top: 0px;
}

.zero-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.content-container {
    margin-top: 0px;
    padding-right: 15px;
}

.admin-alert {
    position: fixed;
    z-index: 10000;
    left: 50%;
    width: 400px;
    margin-Left: -200px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.main-container{
  padding-right: 10px;
}

ul.menu-admin span.glyphicon{
  cursor: pointer;
  margin-left: 5px;
  color: $green;
}

// Datagrid

div.datagrid-table th div.order{
  display: inline-block;
  float: right;
}

div.datagrid-table table tr:first th{
  cursor: pointer;
}

div.datagrid-table tr.datagrid-filters input, div.datagrid-table tr.datagrid-filters select{
  width: 100%;
  font-weight: normal;
}

div.datagrid-pagination{
  float: right;
}

.navbar-nav.navbar-right:last-child{
  margin-right: 0 !important;
}