/*
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require nprogress
 *= require nprogress-bootstrap
 *= require font-awesome
*/
@import "bootstrap-sprockets";
@import "bootstrap-theme";
@import "bootstrap";

.breadcrumbs {
    margin-right: 10px;
    margin-left: 10px;
}

.page-header {
    margin-top: 0px;
}

.page-header h1 {
    margin-top: 0px;
}

.zero-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.content-container {
    margin-top: 0px;
    padding-right: 15px;
}

.admin-alert {
    position: fixed;
    z-index: 10000;
    left: 50%;
    width: 400px;
    margin-Left: -200px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.main-container{
  padding-right: 10px;
}

ul.menu-admin span.glyphicon{
  cursor: pointer;
  margin-left: 5px;
  color: $green;
}

// Datagrid

div.datagrid-table th div.order{
  display: inline-block;
  float: right;
}

div.datagrid-table table tr:first th{
  cursor: pointer;
}

div.datagrid-table tr.datagrid-filters input, div.datagrid-table tr.datagrid-filters select{
  width: 100%;
  font-weight: normal;
}

div.datagrid-pagination{
  float: right;
}

.navbar-nav.navbar-right:last-child{
  margin-right: 0 !important;
}

// Dashboard blocks
.dashboard{
  .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
  }

  .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
    color: white;
  }

  .bg-mint{
    background-color: $green;
  }

  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
  }

  .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }


}