<div class="datagrid-table">
  <%= datagrid_table @users_grid, :html => {:class => "table table-striped table-bordered table-condensed"} %>
</div>
<div class="datagrid-pagination">
  <%= will_paginate @users_grid.assets, renderer: BootstrapPagination::Rails  %>
</div>