<%
   # Defining breadcrumbs
   @breadcrumbs = [
           {:link => admin_users_path, :title => t('backend_part.user')},
           {:title => t('backend_part.create')}
   ]

   # Defining menu
   @menu = [
           {:link => admin_users_path, :title => t('backend_part.manage_users'), :icon => 'list'},
   ]
%>

<div class="page-header">
  <h1><%= t('backend_part.user') %>
    <small> <%= t('backend_part.create') %></small>
  </h1>
</div>

<div class="form">
  <%= render :partial => "form" %>
</div>