<div class="datagrid-table">
  <%= datagrid_table @roles_grid, :html => {:class => "table table-striped table-bordered table-condensed"} %>
</div>
<div class="datagrid-pagination">
  <%= will_paginate @roles_grid.assets, renderer: BootstrapPagination::Rails  %>
</div>