<!DOCTYPE html>
<html>
<head>
  <title>Fluent</title>
  <%= stylesheet_link_tag    "fluent/application", media: "all" %>
  <%= javascript_include_tag "fluent/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
